{% extends "head.html" %}
  
  {% block content %}
    <div class="container">
      <div class="jumbotron">
       <h2>Add Sale : </h2>
        <form class="form-inline" action="{{ url_for('addSale') }}" method="POST">
          Sale
          <select class="form-control" name="FC_Id">
              {% for fc in FCList %}
              <option value="{{ fc.FC_Id }}">{{ fc.name }}</option>
              {% endfor %}
          </select>
          To
          <select class="form-control" name="customerId">
              {% for customer in customerList %}
              <option value="{{ customer.id }}">{{ customer.name }}</option>
              {% endfor %}
          </select>
          <br />
          <br />
          Date :
          <input class="form-control" type="date" name="date" />
          <br />
          TGs :
          <input class="form-control" type="text" name="catty" />
          <br />
          Income ($) :
          <input class="form-control" type="text" name="income" />
          <br />
          Transport Cost ($) :
          <input class="form-control" type="text" name="cost" />
          <br />
          <br />
          <input class="btn btn-default" type="submit"/>
        </form>
      </div>
    </div> 
  {% endblock content %}